.prize {
  // .prize-section {
  &-section {
    position: relative;
    min-height: 100vh;
    @include adaptive(min-height, 810, 760, 0);

    height: auto;
    @include adaptive(padding-bottom, 50, 80, 0);
    @include adaptive(padding-top, 55, 20, 0);
    @media only screen and (max-width: 1152px) {
      min-height: 1px;
      @include adaptive(height, 810, 760, 0);
      margin-bottom: -1px;
    }
    // .prize-section__title {
    &__title {
    }
    &::before {
      @include _transition(all, 0.85s);
      z-index: 0;

      content: "";
      display: block;
      position: absolute;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      // height: 75vh;
      height: 75%;

      background: $accentThirdColor;
      @media only screen and (max-width: 1152px) {
      }
    }
    // .prize-section__bg {
    &__bg {
      @include _transition(all, 0.85s);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      // height: 75vh;
      height: 75%;

      opacity: 0.13;
      z-index: 0;
      background-size: contain;
      background-position: 0px 0px;
      background-repeat: repeat-x;
      animation: bgAnimateLtr 200000s linear infinite alternate;
      transform: translateY(0%);
      @media only screen and (max-width: 1152px) {
        background-size: cover;

        // height: 75%;
      }
    }
  }
  // .prize__picture {
  &__picture {
  }
  // .prize-slider {
  &-slider {
    @include adaptive(width, 660, 390, 0);
    @include adaptive(height, 410, 260, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 1;
    position: relative;
    overflow: unset;
    @include adaptive(margin-top, -65, -25, 0);
    @include adaptive(margin-bottom, -45, -25, 0);
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    // .prize-slider-control
    &-control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, -50%);
      z-index: 3;
    }
    // .prize-slider__btn {
    &__btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: unset;
      position: relative;
      @include adaptive(width, 45, 30, 0);
      @include adaptive(height, 45, 30, 0);
      @include _transition(all, 0.35s);

      &::before {
        content: "";
        display: inline-flex;
        @include adaptive(width, 15, 15, 0);
        @include adaptive(height, 15, 15, 0);
        border-top: 2px solid $accentColor;
        border-right: 2px solid $accentColor;
      }
      // .prize-slider__btn-next {
      &-next {
        right: 5px;
        &::before {
          transform: rotate(45deg);
        }
        @media only screen and (min-width: 1152px) {
          right: 20px;

          &:hover {
            right: 0;
          }
        }
      }
      // .prize-slider__btn-prev {
      &-prev {
        left: 5px;
        &::before {
          transform: rotate(-135deg);
        }
        @media only screen and (min-width: 1152px) {
          left: 20px;

          &:hover {
            left: 0;
          }
        }
      }
      &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  // prize-slides {
  &-slides {
    transition-timing-function: cubic-bezier(0.3, 0.05, 0.29, 1);
  }
  // prize-slide {
  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include _transition(all, 0.45s);
    transition-delay: 0.2;
    pointer-events: none;
    opacity: 0;

    &.swiper-slide-visible {
      transition-delay: 0;

      pointer-events: all;
      opacity: 1 !important;
    }
  }
}

.collection {
  // collection__title
  &__title {
  }
  // .collection-slider {
  &-slider {
    width: 100%;
    transition-timing-function: linear;
  }
  // .collection-slides {
  &-slides {
    width: 100%;
    // transition-timing-function: cubic-bezier(0.3, 0.05, 0.69, 0.96);
    transition-timing-function: linear;
    transition-delay: 0;
    // justify-content: center;
    // align-items: center;
  }
  // collection-slide {
  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive(width, 255, 220, 0);
    @include adaptive(height, 325, 280, 0);
    @include _borderRadius(10px);
    transition-timing-function: linear;
    overflow: hidden;
  }
}
